<div class="container-fluid" ng-repeat=" data in $ctrl.user | filterClient:$ctrl.name">
    <div class="table-row header">
        <div class="text">{{ data.ClientName }}</div>
    </div>
    <div class="table-row">
        <div class="text"><span class="glyphicon glyphicon-earphone"></span>{{ data.PhoneNo }}</div>
        <div class="text"><span class="glyphicon" style="font-weight:bold;">@</span> {{ data.Email }}  </div>
        <div class="text" title="vasan@example.com"><span class="glyphicon glyphicon-file">
        </span> Policy No.  {{data.PolicyNo }}</div>
    </div>
</div>